/* 
=================
quizSelection
=================
*/
.quizSelection {
  padding: 1rem;
  box-sizing: border-box;
}

.quizSelection label {
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.2rem;
}

.quizSelection select {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-black);
  padding: 0.2rem 0.3rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--clr-blue);
  margin-bottom: 1rem;
  cursor: pointer;
}

.quizSelection button {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border-radius: 5px;
  cursor: pointer;
}
